<div class="modal popup" tabindex="-1" role="dialog" [style.display]="isVisible ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)='onCancel()'>{{cancelLabel}}</button>
        <button type="button" class="btn btn-success" (click)='onConfirm()'>{{confirmLabel}}</button>
      </div>

    </div>
  </div>
</div>